// _404.scss

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.page-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    img {
        position: fixed;

        &.img-1 {
            z-index: 1;
            left: -115px;
            transform: translateY(150%);
            animation: img-1 2s forwards;
            animation-delay: 1s;

            @keyframes img-1 {
                100% {
                    transform: translateY(36%);
                }
            }
        }

        &.img-2 {
            z-index: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            transform: translateX(100%);
            animation: img-2 5s infinite alternate;

            @keyframes img-2 {
                100% {
                    transform: translateX(25%);
                }
            }
        }

        @include screen-xs {
            display: none;
        }

        @include screen-s {
            display: none;
        }

        @include screen-m {
            display: block;
        }

        @include screen-l {
            display: block;
        }

        @include screen-xl {
            display: block;
        }

        @include screen-xxl {
            display: block;
        }
    }

    .container {
        position: relative;
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 16px;

        .title {
            position: relative;
            font-family: 'Poiret One', cursive;
            font-weight: 500;
            font-size: map-get($font-size, "oversize");

            span {
                position: relative;
                top: -100px;
                opacity: 0;
                animation: title-span 1s forwards;

                &:nth-child(1) {
                    color: map-get($color, 5);
                    animation-delay: 0.33s;
                }

                &:nth-child(2) {
                    color: map-get($color, 7);
                    font-weight: 600;
                    animation-delay: 0.66s;
                }

                &:nth-child(3) {
                    color: map-get($color, 8);
                    animation-delay: 1s;
                }
            }

            @keyframes title-span {
                100% {
                    top: 0px;
                    opacity: 1;
                }
            }
        }

        .subtitle {
            font-family: 'Poiret One', cursive;
            font-size: map-get($font-size, "m");
            font-weight: 600;
        }

        a {
            font-size: map-get($font-size, "xs");
            border-radius: 30px;
            padding: 16px;
            background: black;
            min-width: 70%;
            text-align: center;
            margin-top: 50px;
            color: white;
            animation: link 20s infinite linear;
            transition: 0.15s ease-in-out;

            &:hover {
                background: hsl(0, 0%, 16%);
            }

            @keyframes link {
                0% {
                    background: map-get($color, 1);
                }
                25% {
                    background: map-get($color, 7);
                }
                50% {
                    background: map-get($color, 8);
                }
                75% {
                    background: map-get($color, 9);
                }
                100% {
                    background: map-get($color, 1);
                }
            }
        }
    }

}