// _body.scss

body {
    opacity: 0;
    pointer-events: none;
    font-family: map-get($font-family, 0);
    background: map-get($color, 2);
    color: map-get($color, 1);
    animation: body 3s forwards;

    &.dark-mode {
        background: map-get($color, 1);
        color: map-get($color, 2) !important;

        a,
        button,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: map-get($color, 2) !important;
        }

        .header {
            background: map-get($color, 1);

            .header-link:hover{
                border-bottom-color: map-get($color, 2) !important;
            }
        }

        .loader {
            background: map-get($color, 1);

            .dot {
                background: map-get($color, 2);
            }
        }

        .main-menu {
            .container {
                background: map-get($color, 1);
        
                .main-menu-header {
                    border-bottom: 1px solid map-get($color, 4);
                }

                .main-menu-link {
                    color: map-get($color, 2);
                }
            }
        }

        .modal {
            .modal-header,
            .modal-content,
            .modal-footer {
                color: map-get($color, 1) !important;
            }
        }
    }
}

@keyframes body {
    100% {
        opacity: 1;
        pointer-events: all;
    }
}