// _body.scss

body {
    opacity: 0;
    pointer-events: none;
    font-family: map-get($font-family, 0);
    background: map-get($color-primary, 2);
    color: map-get($color-primary, 1);
    animation: body 1.5s forwards;

    @keyframes body {
        100% {
            opacity: 1;
            pointer-events: all;
        }
    }

    &.dark-mode {
        background: map-get($color-primary, 1);
        color: map-get($color-primary, 2);

        .header {
            background: map-get($color-primary, 1);

            .header-link {
                color: map-get($color-primary, 2);

                &::after {
                    background: map-get($color-primary, 4);
                }
            }

            section {
                ul {
                    li {
                        &:after {
                            color: map-get($color-primary, 3);
                        }
                    }
                }
            }
        }

        .loader {
            background: map-get($color-primary, 1);

            .dot {
                background: map-get($color-primary, 2);
            }
        }

        .main-menu {
            .container {
                background: map-get($color-primary, 1);

                .main-menu-header {
                    border-bottom: 1px solid map-get($color, 4);
                }

                .main-menu-link {
                    color: map-get($color, 2);
                }
            }
        }

        .social-bar {
            .social-bar-link {
                color: map-get($color, 2);
            }
        }

        .modal {
            .modal-header,
            .modal-content,
            .modal-footer {
                color: map-get($color, 1) !important;
            }
        }
    }
}