// _button.scss

.btn {
    padding: map-get($padding, 'm');
    padding-left: map-get($padding, 'l');
    padding-right: map-get($padding, 'l');
    border-radius: map-get($border-radius, 's');
    font-size: map-get($font-size, 'xs');
    transition: 0.15s ease-in-out;

    &.btn-primary {
        background: map-get($button, 'primary');
    }

    &.btn-secondary {
        background: map-get($button, 'secondary');
    }

    &.btn-cancel {
        background: map-get($button, 'cancel');
        color: map-get($color, 3);
    }

    &.btn-accept {
        background: map-get($button, 'accept');
    }

    &.btn-back {
        background: map-get($button, 'back');
    }

    &.btn-send {
        background: map-get($button, 'send');
    }

    &.btn-alert {
        background: map-get($button, 'alert');
    }

    &.btn-icon {
        background: map-get($button, 'icon');
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{ 
            background: map-get($color-trans, 3);
        }
    }
}

// <button id="moon" class="btn btn-icon" title="Thème Dark">
//     <i class="fa-solid fa-moon"></i>
// </button>