// _footer.scss

.footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 25vh;
    background: map-get($colors, _lightgray);

    section {
        position: relative;
        display: flex;
        padding: map-get($padding-block, "s");

        &:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 30%;

            .container-description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                min-height: 200px;

                .row {
                    img {
                        width: 32px;
                        filter: map-get($colors, _black-svg);
                        margin-right: 8px;
                    }

                    h4 {
                        color: map-get($colors, _black);
                    }

                    @include screen-xs {
                        justify-content: center;
                    }
    
                    @include screen-s {
                        justify-content: center;
                    }
    
                    @include screen-m {
                        justify-content: center;
                    }
    
                    @include screen-l {
                        justify-content: start;
                    }
    
                    @include screen-xl {
                        justify-content: start;
                    }
    
                    @include screen-xxl {
                        justify-content: start;
                    }
                }

                p {
                    color: map-get($colors, _lightblack);
                    padding-top: map-get($padding, "m");
                    padding-bottom: map-get($padding, "m");

                    @include screen-xs {
                        text-align: center;
                    }
    
                    @include screen-s {
                        text-align: center;
                    }
    
                    @include screen-m {
                        text-align: center;
                    }
    
                    @include screen-l {
                        text-align: left;
                    }
    
                    @include screen-xl {
                        text-align: left;
                    }
    
                    @include screen-xxl {
                        text-align: left;
                    }
                }
            }
        }

        &:nth-child(2) {
            display: flex;
            flex: 70%;

            .container-column {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                @include screen-xs {
                    display: none;
                }

                @include screen-s {
                    display: none;
                }

                @include screen-m {
                    display: flex;
                }

                @include screen-l {
                    display: flex;
                }

                @include screen-xl {
                    display: flex;
                }

                @include screen-xxl {
                    display: flex;
                }

                .column {
                    justify-content: space-evenly;
                    flex: 1 1 auto;
                    margin: 30px;

                    h5 {
                        color: map-get($colors, _lightblack);
                        margin-bottom: 20px;
                    }

                    ul {
                        li {
                            margin-bottom: 8px;

                            .link {
                                color: map-get($colors, _darkgray);
                                transition: 0.15s;

                                &:hover {
                                    color: map-get($colors, _blue) !important;
                                }
                            }
                        }
                    }
                }
            }

            .container-select {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                @include screen-xs {
                    display: flex;
                }

                @include screen-s {
                    display: flex;
                }

                @include screen-m {
                    display: none;
                }

                @include screen-l {
                    display: none;
                }

                @include screen-xl {
                    display: none;
                }

                @include screen-xxl {
                    display: none;
                }

                .row {
                    margin: 12px;
                    width: 100%;
                }
            }
        }
    }
}

body {
    &[data-theme="light"] {
        .footer {
            background: map-get($colors, _lightgray);
        
            section {
                &:nth-child(1) {
                    .container-description {

                        .row {
                            img {
                                filter: map-get($colors, _black-svg);
                            }
        
                            h4 {
                                color: map-get($colors, _black);
                            }
                        }
        
                        p {
                            color: map-get($colors, _lightblack);
                        }
                    }
                }
        
                &:nth-child(2) {
        
                    .container-column {

                        .column {
        
                            h5 {
                                color: map-get($colors, lightblack);
                            }
        
                            ul {
                                li {
                                    .link {
                                        color: map-get($colors, _darkgray);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &[data-theme="dark"] {
        .footer {
            background: map-get($colors, _lightblack);
        
            section {
                &:nth-child(1) {
                    .container-description {
                        .row {
                            img {
                                filter: map-get($colors, _white-svg);
                            }
        
                            h4 {
                                color: map-get($colors, _lightgray);
                            }
                        }
        
                        p {
                            font-size: map-get($font-size, 'xs');
                            color: map-get($colors, _lightgray);
                        }
                    }
                }
        
                &:nth-child(2) {
        
                    .container-column {
                        
                        .column {
        
                            h5 {
                                color: map-get($colors, _white);
                            }
        
                            ul {
                                li {
                                    .link {
                                        color: map-get($colors, _gray);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}