// _footer.scss

$color-footer: (
    0: hsl(0, 0%, 97%),
    1: hsl(0, 0%, 8%)
);

.footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 25vh;
    background: map-get($color-footer, 0);

    section {
        position: relative;
        display: flex;
        padding: map-get($padding-block, "s");

        &:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 30%;

            .container-description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                min-height: 200px;

                .row {
                    img {
                        margin-right: 6px;
                    }

                    h4 {
                        letter-spacing: 1px;
                    }

                    @include screen-xs {
                        justify-content: center;
                    }
    
                    @include screen-s {
                        justify-content: center;
                    }
    
                    @include screen-m {
                        justify-content: center;
                    }
    
                    @include screen-l {
                        justify-content: start;
                    }
    
                    @include screen-xl {
                        justify-content: start;
                    }
    
                    @include screen-xxl {
                        justify-content: start;
                    }
                }

                p {
                    padding-top: map-get($padding, "m");
                    padding-bottom: map-get($padding, "m");
                }
            }
        }

        &:nth-child(2) {
            display: flex;
            flex: 70%;

            .container-column {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                @include screen-xs {
                    display: none;
                }

                @include screen-s {
                    display: none;
                }

                @include screen-m {
                    display: flex;
                }

                @include screen-l {
                    display: flex;
                }

                @include screen-xl {
                    display: flex;
                }

                @include screen-xxl {
                    display: flex;
                }

                .column {
                    justify-content: space-evenly;
                    flex: 1 1 auto;
                    margin: 30px;

                    h5 {
                        margin-bottom: 20px;
                    }

                    ul {
                        li {
                            margin-bottom: 8px;
                        }
                    }
                }
            }

            .container-select {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                @include screen-xs {
                    display: flex;
                }

                @include screen-s {
                    display: flex;
                }

                @include screen-m {
                    display: none;
                }

                @include screen-l {
                    display: none;
                }

                @include screen-xl {
                    display: none;
                }

                @include screen-xxl {
                    display: none;
                }

                .row {
                    margin: 12px;
                    width: 100%;
                }
            }
        }
    }
}

body {
    &.dark-mode {
        .footer {
            background: map-get($color-footer, 1) !important;
        }
    }
}