// _footer.scss

.footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: dodgerblue;
    min-height: 30vh;

    section {
        position: relative;
        display: flex;
        padding: map-get($padding-block, "s");

        &:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 30%;

            .container-description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                min-height: 200px;

                h4 {
                    letter-spacing: 1px;
                }

                p {
                    padding-top: map-get($padding, "m");
                    padding-bottom: map-get($padding, "m");
                }
            }
        }

        &:nth-child(2) {
            display: flex;
            flex: 70%;

            .container-column {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                @include screen-xs {
                    display: none;
                }
            
                @include screen-s {
                    display: none;
                }
            
                @include screen-m {
                    display: flex;
                }
            
                @include screen-l {
                    display: flex;
                }
            
                @include screen-xl {
                    display: flex;
                }
            
                @include screen-xxl {
                    display: flex;
                }

                .column {
                    justify-content: space-evenly;
                    flex: 1 1 auto;  
                    margin: 30px;     

                    h5 {
                        margin-bottom: 10px;
                    }

                    ul {
                        li {
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .container-select {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;

                @include screen-xs {
                    display: flex;
                }
            
                @include screen-s {
                    display: flex;
                }
            
                @include screen-m {
                    display: none;
                }
            
                @include screen-l {
                    display: none;
                }
            
                @include screen-xl {
                    display: none;
                }
            
                @include screen-xxl {
                    display: none;
                }

                .row {
                    margin: 12px;  
                    width: 100%;   
                }
            }
        }
    }
}