// _forgot-password.scss

.main-forgot-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .grid-main-forgot-password {
        position: relative;
        min-width: 320px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1.2fr 0.7fr 1.6fr;
        gap: 16px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "row-1"
            "row-2"
            "row-3"
            "row-4"
            "row-5";

        .row-1 {
            grid-area: row-1;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                img {
                    display: block;
                    width: 50px;
                    filter: map-get($colors, _black-svg);
                    animation: img 0.5s forwards;

                    @keyframes img {
                        0% {
                            opacity: 0;
                            transform: translateY(-150px);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }

        .row-2 {
            grid-area: row-2;
            text-align: center;

            h1 {
                font-size: map-get($font-size, 's');
                font-weight: 200;
            }
        }

        .row-3 {
            grid-area: row-3;
            display: flex;
            flex-direction: column;

            label {
                font-weight: 400;
                margin-bottom: map-get($margin, 'xs');
                padding-left: map-get($padding, 'xs');
            }
        }

        .row-4 {
            grid-area: row-4;
            display: flex;
            flex-direction: column;

            label {
                font-weight: 400;
                margin-bottom: map-get($margin, 'xs');
                padding-left: map-get($padding, 'xs');
            }
        }

        .row-5 {
            grid-area: row-5;
            display: flex;
            align-items: center;
            justify-content: center;

            .link {
                color: map-get($colors, _blue);
                border-bottom: 1px solid map-get($colors, _blue);
            }
        }
    }
}

body {
    &[data-theme="light"] {
        .main-forgot-password {
            .grid-main-forgot-password {
                .row-1 {
                    img {
                        filter: map-get($colors, _black-svg);
                    }
                }
            }
        }
    }

    &[data-theme="dark"] {
        .main-forgot-password {
            .grid-main-forgot-password {
                .row-1 {
                    img {
                        filter: map-get($colors, _white-svg);
                    }
                }
            }
        }
    }
}