// _header.scss

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: var(--header-height);
    padding-left: map-get($padding-block, 's');
    padding-right: map-get($padding-block, 's');

    @include screen-xs {
        padding-right: map-get($padding-block, 'l');
        padding-left: map-get($padding-block, 'l');
    }

    @include screen-s {
        padding-right: map-get($padding-block, 'l');
        padding-left: map-get($padding-block, 'l');
    }

    @include screen-m {
        padding-right: map-get($padding-block, 'l');
        padding-left: map-get($padding-block, 'l');
    }

    @include screen-l {
        padding-right: map-get($padding-block, 'm');
        padding-left: map-get($padding-block, 'm');
    }

    @include screen-xl {
        padding-right: map-get($padding-block, 's');
        padding-left: map-get($padding-block, 's');
    }

    @include screen-xxl {
        padding-right: map-get($padding-block, 's');
        padding-left: map-get($padding-block, 's');
    }

    section {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        &:nth-child(1) {
            flex: 10%;
            justify-content: start;
        }

        &:nth-child(2) {
            flex: 80%;
            justify-content: center;

            @include screen-xs {
                display: none;
            }

            @include screen-s {
                display: none;
            }

            @include screen-m {
                display: flex;
            }
        }

        &:nth-child(3) {
            flex: 10%;
            justify-content: end;
        }

        .header-link {
            font-size: map-get($font-size, "s");
            font-weight: 400;
            padding: map-get($padding, 'xs');
            color: map-get($color, 1);
            padding-left: map-get($padding, 's');
            padding-right: map-get($padding, 's');

            &::after {
                position: absolute;
                transform: translate(-50%, -50%);
                left:50%;
                top: 112%;
                content: "";
                display: block;
                background: dodgerblue;
                height: 3px;
                width: 0%;
                transition: 0.15s ease-in-out;
            }
    
            &:hover, &.active { 
                &::after {
                    width: 38%;
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: map-get($width, 's');
    
            @include screen-m {
                width: map-get($width, 'l');
            }
    
            @include screen-l {
                width: map-get($width, 'm');
            }
    
            @include screen-xl {
                width: map-get($width, 's');
            }
    
            @include screen-xxl {
                width: map-get($width, 's');
            }
    
            li {
                display: flex;
                align-items: baseline;
                justify-content: center;
                width: 100%;
                height: 100%;
    
                &:after {
                    content: '|';
                    font-weight: 300;
                    color: map-get($color, 4);
                }
    
                &:last-child:after {
                    content: '';
                }
    
                div {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// <header>
//     <section>
//         <button class="btn btn-icon">
//             <i class="fa-solid fa-bars"></i>
//         </button>
//     </section>
//     <section>
//         <ul>
//             <li>
//                 <div>
//                     <a href="#">Menu 1</a>
//                 </div>
//             </li>
//             <li>
//                 <div>
//                     <a href="#">Menu 1</a>
//                 </div>
//             </li>
//             <li>
//                 <div>
//                     <a href="#">Menu 1</a>
//                 </div>
//             </li>
//             <li>
//                 <div>
//                     <a href="#">Menu 1</a>
//                 </div>
//             </li>
//             <li>
//                 <div>
//                     <a href="#">Menu 1</a>
//                 </div>
//             </li>
//         </ul>
//     </section>
//     <section>
//         <button id="sun" class="btn btn-icon">
//             <i class="fa-solid fa-sun"></i>
//         </button>
//         <button id="moon" class="btn btn-icon">
//             <i class="fa-solid fa-moon"></i>
//         </button>
//     </section>
// </header>