// _headband.scss

.headband {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: headband 0.5s forwards;

    @keyframes headband {
        0% {
            opacity: 0;
            height: 0px;
        }

        100% {
            opacity: 1;
            height: 40px;
        }
    }

    &.success {
        background: map-get($colors, _blue);
    }

    &.error {
        background: map-get($colors, _lightred);
    }

    &.global {
        position: fixed;
    }

    &.specific {
        position: absolute;
    }

    .message {
        color: map-get($colors, _white);
        font-size: map-get($font-size, 'xs');
        animation: message 1s forwards;

        @keyframes message {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}