// _header.scss

.header {
    position: sticky;
    z-index: 8;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: var(--header-height);
    padding-left: map-get($padding-block, 's');
    padding-right: map-get($padding-block, 's');
    background: map-get($colors, _white);

    @include screen-xs {
        padding-right: map-get($padding-block, 's');
        padding-left: map-get($padding-block, 's');
    }

    @include screen-s {
        padding-right: map-get($padding-block, 'm');
        padding-left: map-get($padding-block, 'm');
    }

    @include screen-m {
        padding-right: map-get($padding-block, 'l');
        padding-left: map-get($padding-block, 'l');
    }

    @include screen-l {
        padding-right: map-get($padding-block, 'm');
        padding-left: map-get($padding-block, 'm');
    }

    @include screen-xl {
        padding-right: map-get($padding-block, 's');
        padding-left: map-get($padding-block, 's');
    }

    @include screen-xxl {
        padding-right: map-get($padding-block, 's');
        padding-left: map-get($padding-block, 's');
    }

    .link {
        font-size: map-get($font-size, "s");
        font-weight: 400;
        padding: map-get($padding, 'xs');
        padding-left: map-get($padding, 's');
        padding-right: map-get($padding, 's');
        color: map-get($colors, _black);

        &::after {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 112%;
            content: "";
            display: block;
            border-radius: map-get($border-radius, 'xl');
            background: map-get($colors, _blue);
            height: 4px;
            width: 0%;
            transition: 0.15s ease-in-out;
        }

        &:hover {
            &::after {
                width: 8%;
            }
        }

        &.active {
            &::after {
                width: 20%;
            }
        }
    }

    img {
        filter: map-get($colors, _black-svg);
        width: 28px;
    }

    section {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                display: flex;
                align-items: baseline;
                justify-content: center;
                width: 100%;
                height: 100%;

                &:after {
                    content: '|';
                    font-weight: 300;
                    color: map-get($colors, _gray);
                }

                &:last-child:after {
                    content: '';
                }

                div {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &:nth-child(1) {
            flex: 10%;
            justify-content: start;

            ul {
                width: map-get($width, "xxl");

                li {
                    &:after {
                        content: '' !important;
                    }
                }
            }
        }

        &:nth-child(2) {
            flex: 80%;
            justify-content: center;

            @include screen-xs {
                display: none;
            }

            @include screen-s {
                display: none;
            }

            @include screen-m {
                display: flex;
            }

            ul {
                width: map-get($width, "s");

                @include screen-m {
                    width: map-get($width, 'l');
                }

                @include screen-l {
                    width: map-get($width, 'm');
                }

                @include screen-xl {
                    width: map-get($width, 's');
                }

                @include screen-xxl {
                    width: map-get($width, 's');
                }
            }
        }

        &:nth-child(3) {
            flex: 10%;
            justify-content: end;

            ul {
                width: map-get($width, "s");

                @include screen-m {
                    width: map-get($width, 'l');
                }

                @include screen-l {
                    width: map-get($width, 'm');
                }

                @include screen-xl {
                    width: map-get($width, 's');
                }

                @include screen-xxl {
                    width: map-get($width, 's');
                }
            }
        }
    }
}

body {
    &[data-theme="light"] {
        .header {
            background: map-get($colors, _white);

            .link {
                color: map-get($colors, _black);
        
                &::after {
                    background: map-get($colors, _blue);
                }
            }

            img {
                filter: map-get($colors, _black-svg);
            }
        }
    }

    &[data-theme="dark"] {
        .header {
            background: map-get($colors, _black);

            .link {
                color: map-get($colors, _white);
        
                &::after {
                    background: map-get($colors, _blue);
                }
            }

            img {
                filter: map-get($colors, _white-svg);
            }
        }
    }
}