// _img.scss

$img-size: (
    xs: 40px,
    s: 60px,
    m: 100px,
    l: 220px,
    xl: 300px,
    xxl: 420px
);

.img-xs {
    width: map-get($img-size, 'xs');
}

.img-s {
    width: map-get($img-size, 's');
}

.img-m {
    width: map-get($img-size, 'm');
}

.img-l {
    width: map-get($img-size, 'l');
}

.img-xl {
    width: map-get($img-size, 'xl');
}

.img-xxl {
    width: map-get($img-size, 'xxl');
}