// _input.scss

.input {
    border-radius: map-get($border-radius, 'xs');
    padding: map-get($padding, 'l');
    border: 2px solid map-get($colors, _darkgray);
    color: map-get($colors, _black);
    background: map-get($colors, _white);
    font-size: map-get($font-size, 'xs');
    transition: 0.15s ease-in-out;

    &:read-only {
        background: map-get($colors, _gray);
        color: map-get($colors, _black);
        border: none;
    }

    &:hover {
        border-color: map-get($colors, _blue) !important;
    }

    &.input-error {
        border-color: map-get($colors, _red) !important;
    }
}

body {
    &[data-theme="light"] {
        .input {
            border-color: map-get($colors, _gray);
            color: map-get($colors, _black);
            background: map-get($colors, _white);

            &:focus-within {
                border-color: map-get($colors, _blue) !important;
            }

            &.input-error {
                border-color: map-get($colors, _red) !important;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
                -webkit-text-fill-color: rgb(0, 0, 0) !important;
            }
        }
    }

    &[data-theme="dark"] {
        .input {
            border-color: map-get($colors, _lightblack2);
            color: map-get($colors, _white);
            background: map-get($colors, _black);

            &:focus-within {
                border-color: map-get($colors, _blue) !important;
            }

            &.input-error {
                border-color: map-get($colors, _darkred) !important;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
                -webkit-text-fill-color: white !important;
            }
        }
    }
}