// _input.scss

.input {
    border-radius: map-get($border-radius, 'xs');
    padding: map-get($padding, 'l');
    border: 1px solid map-get($colors, lightblack);
    color: map-get($colors, black);
    font-size: map-get($font-size, 'xs');
    transition: 0.15s ease-in-out;

    &:read-only {
        background: map-get($colors, gray);
        color: map-get($colors, black);
        border: none;
    }

    &:hover {
        border-color: map-get($colors, blue);
    }

    &:focus-within {
        outline-color: map-get($colors, blue);
    }
}

body {
    &[data-theme="light"] {
        .input {
            border: 1px solid map-get($colors, lightblack);
            color: map-get($colors, black);
        }
    }

    &[data-theme="dark"] {
        .input {
            border: 1px solid map-get($colors, lightgray);
            color: map-get($colors, white);
        }
    }
}