// _input.scss

.input {
    border-radius: map-get($border-radius, 'xs');
    padding: map-get($padding, 'l');
    border: 1px solid map-get($colors, darkgray);
    color: map-get($colors, black);
    background: map-get($colors, white);
    font-size: map-get($font-size, 'xs');
    transition: 0.15s ease-in-out;

    &:read-only {
        background: map-get($colors, gray);
        color: map-get($colors, black);
        border: none;
    }

    &:hover {
        border-color: map-get($colors, blue) !important;
    }
}

body {
    &[data-theme="light"] {
        .input {
            border: 1px solid map-get($colors, darkgray);
            color: map-get($colors, black);
            background: map-get($colors, white);

            &:focus-within {
                border-color: map-get($colors, blue) !important;
            }
        }
    }

    &[data-theme="dark"] {
        .input {
            border: 1px solid map-get($colors, darkgray);
            color: map-get($colors, white);
            background: map-get($colors, black);

            &:focus-within {
                border-color: map-get($colors, blue) !important;
            }
        }
    }
}