// _lib.scss

@import "./_var.scss";

h1 {
    font-size: map-get($size-text, 'xxl');
}

h2 {
    font-size: map-get($size-text, 'xl');
}

h3 {
    font-size: map-get($size-text, 'l');
}

h4 {
    font-size: map-get($size-text, 'm');
}

h5 {
    font-size: map-get($size-text, 's');
}

h6 {
    font-size: map-get($size-text, 'xs');
}

input {
    border-radius: map-get($border-radius, 'xs');
    padding: map-get($padding, 'l');
    border: map-get($border-solid, 'xs');
    border-color: $color-3;
    font-size: map-get($size-text, 'xs');

    &:read-only {
        background: $color-3;
        color: $color-1;
    }
}