// _lib.scss

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

h1 {
    font-size: map-get($font-size, 'xxl');
    font-weight: 500;
    margin-bottom: map-get($margin, 'l');
}

h2 {
    font-size: map-get($font-size, 'xl');
    font-weight: 500;
    margin-bottom: map-get($margin, 'm');
}

h3 {
    font-size: map-get($font-size, 'l');
    font-weight: 500;
}

h4 {
    font-size: map-get($font-size, 'm');
    font-weight: 500;
}

h5 {
    font-size: map-get($font-size, 's');
    font-weight: 500;
}

h6 {
    font-size: map-get($font-size, 'xs');
    font-weight: 500;
}

p {
    font-size: map-get($font-size, 'm');
    font-weight: 200;
}

.main {
    position: relative;
    min-height: calc(100vh - var(--header-height));
    margin-bottom: map-get($margin, "xl");
    padding-left: map-get($padding-block, "xxl");
    padding-right: map-get($padding-block, "xxl");

    @include screen-xs {
        padding-left: map-get($padding-block, "m");
        padding-right: map-get($padding-block, "m");
    }

    @include screen-s {
        padding-left: map-get($padding-block, "m");
        padding-right: map-get($padding-block, "m");
    }

    @include screen-m {
        padding-left: map-get($padding-block, "m");
        padding-right: map-get($padding-block, "m");
    }

    @include screen-l {
        padding-left: map-get($padding-block, "l");
        padding-right: map-get($padding-block, "l");
    }

    @include screen-xl {
        padding-left: map-get($padding-block, "xl");
        padding-right: map-get($padding-block, "xl");
    }

    @include screen-xxl {
        padding-left: map-get($padding-block, "xxl");
        padding-right: map-get($padding-block, "xxl");
    }
}

.section {
    padding-top: var(--header-height);
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column-nowrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}