// _modal.scss

.popin {
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popin 0.5s forwards;
    transition: transform 0.50s ease-in-out, opacity 0.50s ease-in-out;

    @keyframes popin {
        0% {
            opacity: 0;
            background: transparent;
        }
        100% {
            opacity: 1;
            background: map-get($colors, _transblack);
        }
    }

    &.inactive {
        opacity: 0;
        background: transparent;
    }

    &.global {
        position: fixed;
    }

    &.specific {
        position: absolute;
    }

    .popin-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 2.4fr 0.3fr;
        gap: 0px 0px;
        grid-template-areas: "popin-header" "popin-content" "popin-footer";
        padding: map-get($padding-block, 'xs');
        color: map-get($colors, _black) !important;
        background: map-get($colors, _white) !important;
        border: 1px solid map-get($colors, _lightgray);
        border-radius: map-get($border-radius, 'm');
        min-width: 50%;
        min-height: 50%;
        max-height: 70%;
        animation: popin-wrapper 0.5s forwards;

        @keyframes popin-wrapper {
            0% {
                opacity: 0;
                transform: translateY(-30%);
            }
            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        @include screen-xs {
            max-width: 95%;
        }

        @include screen-s {
            max-width: 90%;
        }

        @include screen-m {
            max-width: 80%;
        }

        @include screen-l {
            max-width: 70%;
        }

        @include screen-xl {
            max-width: 60%;
        }

        @include screen-xxl {
            max-width: 55%;
        }

        .popin-header {
            position: relative;
            grid-area: popin-header;

            .popin-cross {
                position: absolute;
                top: -15px;
                right: 0;
                color: map-get($colors, _black);
                font-size: map-get($font-size, 'xl');
                cursor: pointer;

                &:hover {
                    color: hsl(0, 0%, 30%);
                }
            }
        }

        .popin-content {
            position: relative;
            grid-area: popin-content;
            max-height: 100%;
            overflow-y: auto;
            padding-top: map-get($padding, "m");
            padding-bottom: map-get($padding, "m");
            margin-top: map-get($padding, "s");
            margin-bottom: map-get($padding, "s");
        }

        .popin-footer {
            position: relative;
            grid-area: popin-footer;
            display: flex;
            justify-content: center;
            align-items: end;
        }
    }
}