// _presets.scss

:root{
    --header-height: 80px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: map-get($font-size, 'xxl');
    font-weight: 500;
}

h2 {
    font-size: map-get($font-size, 'xl');
    font-weight: 500;
}

h3 {
    font-size: map-get($font-size, 'l');
    font-weight: 500;
}

h4 {
    font-size: map-get($font-size, 'm');
    font-weight: 500;
}

h5 {
    font-size: map-get($font-size, 's');
    font-weight: 500;
}

h6 {
    font-size: map-get($font-size, 'xs');
    font-weight: 500;
}

p {
    font-size: map-get($font-size, 'm');
    font-weight: 200;
}

button,
select,
input {
    outline: none;
}

textarea {
    resize: none;
}

button,
select {
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.20s ease-in-out;
}

button>*,
a>* {
    pointer-events: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

strong {
    font-weight: 500;
}

ul,
ol {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}