// _presets.scss

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
select {
    outline: none;
}

textarea {
    resize: none;
}

input[readonly] {
    outline: none;
}

button,
select {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 500;
}

ul,
ol {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

main {
    margin-top: map-get($margin, 'xxl');
    padding-right: map-get($padding-block, 'xxl');
    padding-left: map-get($padding-block, 'xxl');

    @include screen-xs {
        padding-right: map-get($padding-block, 'xs');
        padding-left: map-get($padding-block, 'xs');
    }

    @include screen-s {
        padding-right: map-get($padding-block, 's');
        padding-left: map-get($padding-block, 's');
    }

    @include screen-m {
        padding-right: map-get($padding-block, 'm');
        padding-left: map-get($padding-block, 'm');
    }

    @include screen-l {
        padding-right: map-get($padding-block, 'l');
        padding-left: map-get($padding-block, 'l');
    }

    @include screen-xl {
        padding-right: map-get($padding-block, 'xl');
        padding-left: map-get($padding-block, 'xl');
    }

    @include screen-xxl {
        padding-right: map-get($padding-block, 'xxl');
        padding-left: map-get($padding-block, 'xxl');
    }
}