// _presets.scss

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
select,
textarea,
input {
    outline: none;
}

button,
.pointer {
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: map.get($body, 'font-family');
    font-size: map.get($body, 'font-size');
    color: map.get($body, 'color');
    background: map.get($body, 'background');
}