// _profile.scss

.main-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .form {
        position: relative;
        max-height: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 16px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "row-1"
            "row-2"
            "row-3"
            "row-4"
            "row-5"
            "row-6"
            "row-7";
        
        @include screen-xs {
            min-width: 80%;
        }

        @include screen-s {
            min-width: 75%;
        }

        @include screen-m {
            min-width: 50%;
        }

        @include screen-l {
            min-width: 40%;
        }

        @include screen-xl {
            min-width: 30%;
        }

        @include screen-xxl {
            min-width: 25%;
        }

        .row-1 {
            grid-area: row-1;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                img {
                    display: block;
                    width: 50px;
                    filter: map-get($colors, _black-svg);
                    animation: img 0.5s forwards;

                    @keyframes img {
                        0% {
                            opacity: 0;
                            transform: translateY(-150px);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }

        .row-2 {
            grid-area: row-2;
            text-align: center;

            h1 {
                font-size: map-get($font-size, 's');
                font-weight: 200;
            }
        }

        .row-3 {
            grid-area: row-3;
            display: flex;
            flex-direction: column;

            label {
                font-weight: 400;
                margin-bottom: map-get($margin, 'xs');
                padding-left: map-get($padding, 'xs');
            }
        }

        .row-4 {
            grid-area: row-4;
            display: flex;
            flex-direction: column;

            label {
                font-weight: 400;
                margin-bottom: map-get($margin, 'xs');
                padding-left: map-get($padding, 'xs');
            }
        }

        .row-5 {
            grid-area: row-5;
            display: flex;
            flex-direction: column;

            label {
                font-weight: 400;
                margin-bottom: map-get($margin, 'xs');
            }
        }

        .row-6 {
            grid-area: row-6;
            text-align: center;
        }

        .row-7 {
            grid-area: row-7;
            text-align: center;

            .link {
                border-bottom: 1px solid map-get($colors, _blue);
            }
        }

        .link {
            color: map-get($colors, _blue);
        }
    }
}

body {
    &[data-theme="light"] {
        .main-profile {
            .form {
                .row-1 {
                    img {
                        filter: map-get($colors, _black-svg);
                    }
                }

                .link {
                    color: map-get($colors, _blue);
                }
            }
        }
    }

    &[data-theme="dark"] {
        .main-profile {
            .form {
                .row-1 {
                    img {
                        filter: map-get($colors, _white-svg);
                    }
                }

                .link {
                    color: map-get($colors, _blue);
                }
            }
        }
    }
}