// _register-success.scss

.main-register-success {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    h1 {
        text-align: center;
        font-size: map-get($font-size, 'l');
        font-weight: 300;

        span {
            font-size: map-get($font-size, 'xl');
            font-weight: 500;
        }
    }

    a {
        margin-top: 20px;
        background: map-get($colors, _blue);
        border-radius: map-get($border-radius, 's');
        padding: map-get($padding, 'm');
        padding-left: map-get($padding, 'l');
        padding-right: map-get($padding, 'l');
    }
}

body {
    &[data-theme="light"] {
        .main-register-success {
            a {
                color: map-get($colors, _lightblack);
            }
        }
    }

    &[data-theme="dark"] {
        .main-register-success {
            a {
                color: map-get($colors, _lightgray);
            }
        }
    }
}