// _select.scss

.select {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: map-get($padding, 'm');
    border-radius: map-get($border-radius, 'xs');
    border: 1px solid map-get($colors, gray);
    transition: 0.15s ease-in-out;

    select {
        padding: map-get($padding, 'l');
        font-size: clamp(14px, 10vw, 16px);
        color: map-get($colors, white);
        width: 100%;
        height: 100%;
        flex: 90%;
    }

    &:hover {
        border-color: map-get($colors, lightblack);
    }

    &:focus {
        border-color: map-get($colors, lightblack);
    }
}