// _select.scss

.select {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: map-get($padding, 'm');
    border-radius: map-get($border-radius, 'xs');
    border: 1px solid map-get($colors, lightblack);
    transition: 0.15s ease-in-out;

    select {
        padding: map-get($padding, 'l');
        font-size: clamp(14px, 10vw, 16px);
        color: map-get($colors, black);
        width: 100%;
        height: 100%;
        flex: 90%;

        option {
            background: map-get($colors, white);
        }
    }

    &:hover {
        border-color: map-get($colors, lightblack);
    }

    &:focus {
        border-color: map-get($colors, lightblack);
    }
}

body {
    &[data-theme="light"] {
        .select {
            border: 1px solid map-get($colors, lightblack);
        
            select {
                color: map-get($colors, black);

                option {
                    background: map-get($colors, white);
                }
            }
        
            &:hover {
                border-color: map-get($colors, lightblack);
            }
        
            &:focus {
                border-color: map-get($colors, lightblack);
            }
        }
    }

    &[data-theme="dark"] {
        .select {
            border: 1px solid map-get($colors, darkgray);
        
            select {
                color: map-get($colors, white);

                option {
                    background: map-get($colors, lightblack);
                }
            }
        
            &:hover {
                border-color: map-get($colors, white);
            }
        
            &:focus {
                border-color: map-get($colors, white);
            }
        }
    }
}