// _settings.scss

.main-settings {
    position: relative;
    height: 80%;

    .header-settings {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;

        h1 {
            font-size: map-get($font-size, 'l')
        }

        .select {
            width: 150px;

            @include screen-xs {
                display: block;
            }
        
            @include screen-s {
                display: block;
            }
        
            @include screen-m {
                display: none;
            }
        
            @include screen-l {
                display: none;
            }
        
            @include screen-xl {
                display: none;
            }
        
            @include screen-xxl {
                display: none;
            }
        }
    }

    .grid-settings {
        position: relative;
        height: 100%;
        display: grid;
        grid-template-columns: 0.40fr 1.60fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "left-side right-side";

        @include screen-xs {
            grid-template-columns: 0fr 1fr;
            gap: 0px 0px;
        }
    
        @include screen-s {
            grid-template-columns: 0fr 1fr;
            gap: 0px 0px;
        }
    
        @include screen-m {
            grid-template-columns: 0.40fr 1.60fr;
        }
    
        @include screen-l {
            grid-template-columns: 0.40fr 1.60fr;
        }
    
        @include screen-xl {
            grid-template-columns: 0.40fr 1.60fr;
        }
    
        @include screen-xxl {
            grid-template-columns: 0.40fr 1.60fr;
        }

        .left-side {
            position: relative;
            grid-area: left-side;
            max-height: 90%;
            overflow: auto;
            border-right: 1px solid map-get($colors, _lightblack3);

            @include screen-xs {
                display: none;
            }
        
            @include screen-s {
                display: none;
            }
        
            @include screen-m {
                display: block;
            }
        
            @include screen-l {
                display: block;
            }
        
            @include screen-xl {
                display: block;
            }
        
            @include screen-xxl {
                display: block;
            }
        }

        .menu-settings {
            list-style-type: none;
            display: flex;
            flex-direction: column;

            li {
                margin-bottom: 12px;

                a {
                    font-size: map-get($font-size, 's');

                    @include screen-xs {
                        font-size: map-get($font-size, 'xs');
                    }
                
                    @include screen-s {
                        font-size: map-get($font-size, 'xs');
                    }
                
                    @include screen-m {
                        font-size: map-get($font-size, 'xs');
                    }
                
                    @include screen-l {
                        font-size: map-get($font-size, 's');
                    }
                
                    @include screen-xl {
                        font-size: map-get($font-size, 's');
                    }
                
                    @include screen-xxl {
                        font-size: map-get($font-size, 's');
                    }
                }
            }
        }
    }

    .right-side {
        position: relative;
        grid-area: right-side;
        max-height: 100%;
        overflow: auto;
        
        @include screen-xs {
            padding-left: 0px;
        }
    
        @include screen-s {
            padding-left: 0px;
        }
    
        @include screen-m {
            padding-left: 10px;
        }
    
        @include screen-l {
            padding-left: 15px;
        }
    
        @include screen-xl {
            padding-left: 20px;
        }
    
        @include screen-xxl {
            padding-left: 25px;
        }
    }
}