// _social-bar.scss

.social-bar {
    position: relative;
    width: 100%;
    max-width: 230px;
    min-width: 200px;

    .link {
        font-size: map-get($font-size, "m");
        color: map-get($colors, _darkgray);

        &:hover {
            color: map-get($colors, _blue) !important;
        }
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

body {
    &[data-theme="light"] {
        .social-bar {
        
            .link {
                color: map-get($colors, _darkgray);
            }
        }
    }

    &[data-theme="dark"] {
        .social-bar {
        
            .link {
                color: map-get($colors, _darkgray);
            }
        }
    }
}