// _textarea.scss

textarea {
    border-radius: map-get($border-radius, 'xs');
    padding: map-get($padding, 'l');
    border: 1px solid map-get($colors, gray);
    font-size: map-get($font-size, 'xs');
    color: map-get($colors, white);
    transition: 0.15s ease-in-out;

    &:read-only {
        background: map-get($colors, gray);
        color: map-get($colors, black);
        border: none;
    }

    &:hover {
        border-color: map-get($colors, gray);
    }

    &:focus-within {
        outline-color: map-get($colors, gray);
    }
}