// _text.scss

h1 {
    font-size: map-get($font-size, 'xxl');
    font-weight: 500;
    margin-top: map-get($margin, 'xxl');
    margin-bottom: map-get($margin, 'xl');
}

h2 {
    font-size: map-get($font-size, 'xl');
    font-weight: 500;
    margin-top: map-get($margin, 'xxl');
    margin-bottom: map-get($margin, 'xl');
}

h3 {
    font-size: map-get($font-size, 'l');
    font-weight: 500;
}

h4 {
    font-size: map-get($font-size, 'm');
    font-weight: 500;
}

h5 {
    font-size: map-get($font-size, 's');
    font-weight: 500;
}

h6 {
    font-size: map-get($font-size, 'xs');
    font-weight: 500;
}