// _var.scss

$color: (
    0: transparent,
    1: hsl(0, 0%, 0%),
    2: hsl(0, 0%, 100%),
    3: hsl(0, 0%, 90%),
    4: hsl(210, 100%, 56%),
    5: hsl(147, 50%, 47%),
    6: hsl(60, 100%, 50%),
    7: hsl(39, 100%, 50%),
    8: hsl(0, 100%, 50%),
    9: hsl(300, 100%, 25%)
);

$color-dark: (
    0: transparent,
    1: hsl(0, 0%, 0%),
    2: hsl(0, 0%, 100%),
    3: hsl(0, 0%, 70%),
    4: hsl(210, 74%, 27%),
    5: hsl(148, 63%, 23%),
    6: hsl(60, 71%, 29%),
    7: hsl(39, 80%, 28%),
    8: hsl(0, 81%, 25%),
    9: hsl(300, 71%, 13%)
);

$color-trans: (
    0: transparent,
    1: hsla(0, 0%, 0%, 0.25),
    2: hsla(0, 0%, 100%, 0.25),
    3: hsla(0, 0%, 90%, 0.25),
    4: hsla(210, 100%, 56%, 0.25),
    5: hsla(147, 50%, 47%, 0.25),
    6: hsla(60, 100%, 50%, 0.25),
    7: hsla(39, 100%, 50%, 0.25),
    8: hsla(0, 100%, 50%, 0.25),
    9: hsla(300, 100%, 25%, 0.25)
);

$font-family: (
    0: segoe ui,
    1: segoe ui,
    2: segoe ui,
    3: segoe ui,
    4: segoe ui,
    5: segoe ui
);

$font-size: (
    xs: clamp(14px, 10vw, 16px),
    s: clamp(18px, 10vw, 20px),
    m: clamp(22px, 10vw, 24px),
    l: clamp(26px, 10vw, 30px),
    xl: clamp(32px, 10vw, 36px),
    xxl: clamp(38px, 10vw, 46px)
);

$button: (
    primary: rgb(99, 177, 255),
    secondary: hsl(0, 0%, 90%),
    cancel: black,
    accept: rgb(66, 232, 141),
    back: transparent,
    send: rgb(99, 177, 255),
    alert: rgb(255, 127, 127)
);

$flex: (
    xs: 9%,
    s: 24%,
    m: 39%,
    l: 49%,
    xl: 59%,
    xxl: 74%
);

$gap: (
    xs: 6px,
    s: 10px,
    m: 12px,
    l: 16px,
    xl: 22px,
    xxl: 30px
);

$size-screen: (
    xs: 414px,
    s: 576px,
    m: 768px,
    l: 992px,
    xl: 1200px,
    xxl: 1400px
);

$padding: (
    xs: 4px,
    s: 8px,
    m: 14px,
    l: 16px,
    xl: 24px,
    xxl: 30px
);

$padding-block: (
    xs: 3%,
    s: 5%,
    m: 8%,
    l: 10%,
    xl: 15%,
    xxl: 20%
);

$margin: (
    xs: 4px,
    s: 6px,
    m: 10px,
    l: 16px,
    xl: 24px,
    xxl: 30px
);

$border-radius: (
    xs: 3px,
    s: 4px,
    m: 6px,
    l: 16px,
    xl: 30px,
    xxl: 50%
);

$border-solid: (
    xs: 1px solid,
    s: 2px solid,
    m: 3px solid,
    l: 6px solid,
    xl: 8px solid,
    xxl: 10px solid
);

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}