// _var.scss

$color-0: transparent;
$color-1: black;
$color-2: white;
$color-3: hsl(0, 0%, 90%);
$color-4: dodgerblue;
$color-5: mediumseagreen;
$color-6: yellow;
$color-7: orange;
$color-8: red;
$color-9: purple;

$font-family: (
    0: segoe ui,
    1: segoe ui,
    2: segoe ui,
    3: segoe ui,
    4: segoe ui,
    5: segoe ui
);

$size-text: (
    xs: clamp(15px, 4vw, 16px),
    s: clamp(18px, 5vw, 20px),
    m: clamp(20px, 6vw, 22px),
    l: clamp(24px, 7vw, 30px),
    xl: clamp(32px, 8vw, 36px),
    xxl: clamp(38px, 10vw, 46px)
);

$display: (
    block: block,
    flex: flex,
    grid: grid,
    none: none
);

$align-items: (
    stard: start,
    center: center,
    end: end
);

$justify-content: (
    stard: start,
    center: center,
    end: end
);

$flex: (
    xs: 9%,
    s: 24%,
    m: 39%,
    l: 49%,
    xl: 59%,
    xxl: 74%
);

$gap: (
    xs: 6px,
    s: 10px,
    m: 12px,
    l: 16px,
    xl: 22px,
    xxl: 30px
);

$size-screen: (
    xs: 414px,
    s: 576px,
    m: 768px,
    l: 992px,
    xl: 1200px,
    xxl: 1400px
);

$padding: (
    xs: 4px,
    s: 6px,
    m: 12px,
    l: 16px,
    xl: 22px,
    xxl: 30px
);

$margin: (
    xs: 4px,
    s: 6px,
    m: 10px,
    l: 16px,
    xl: 24px,
    xxl: 30px
);

$border-radius: (
    xs: 3px,
    s: 4px,
    m: 6px,
    l: 16px,
    xl: 30px,
    xxl: 50%
);

$border-solid: (
    xs: 1px solid,
    s: 2px solid,
    m: 3px solid,
    l: 4px solid,
    xl: 6px solid,
    xxl: 8px solid
);

$outline: (
    xs: 1px,
    s: 2px,
    m: 3px,
    l: 4px,
    xl: 6px,
    xxl: 8px
);