// _window.scss

.window {
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 30px 30px 0px 0px;
    // pointer-events: none;
    // opacity:0;
    // transform:translateY(50%);

    &.global{
        position: fixed;
    }
    &.specific{
        position: absolute;
    }

    &.active {
        pointer-events: all;
        opacity:1;
        transform:translateY(0%);
    }

    .header-window {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        i {
            color:map-get($colors, _black);
            font-size: map-get($font-size, 's');
            cursor:pointer;
            transition:0.25s;

            &:hover {
                color:map-get($colors, _gray);
            }
        }
    }

    .content {
        position: relative;
        width:93%;
        height:90%;
        overflow-y: auto;
        padding-left:20%;
        padding-right:20%;
        margin: 0 auto;

        @include screen-xs {
            padding-left:5%;
            padding-right:5%;
        }

        @include screen-s {
            padding-left:8%;
            padding-right:8%;
        }

        @include screen-m {
            padding-left:12%;
            padding-right:12%;
        }

        @include screen-l {
            padding-left:18%;
            padding-right:18%;
        }

        @include screen-xl {
            padding-left:20%;
            padding-right:20%;
        }

        @include screen-xxl {
            padding-left:24%;
            padding-right:24%;
        }
    }
}

body {
    &[data-theme="light"] {
        .window {
            background:map-get($colors, _lightgray);;
            
            .header-window {
                i {
                    color:map-get($colors, _black);
        
                    &:hover {
                        color:map-get($colors, _gray);
                    }
                }
            }
        }
    }

    &[data-theme="dark"] {
        .window {
            background: map-get($colors, _lightblack);

            .header-window {
                i {
                    color:map-get($colors, _darkgray);
        
                    &:hover {
                        color:map-get($colors, _blue);
                    }
                }
            }
        }
    }
}

// <div class="window specific">
//     <div class="header-window">
//         <i class="fa-solid fa-chevron-down"></i>
//     </div>
//     <div class="content slim-scrollbar"></div>
// </div>