<!-- TEMPLATE - head-register -->

<!-- metadata -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= data_site.metadata.description %>">
<meta name="keywords" content="<%= data_site.metadata.keywords %>">
<meta name="revised" content="<%= data_site.metadata.revised %>">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- css -->
<link rel="stylesheet" href="css/main.min.css" />

<!-- js -->
<script type="module" src="js/_common.js"></script>
<script type="module" src="js/theme.js"></script>

<script defer type="module" src="js/register.js"></script>

<title>
    <%= title %>
</title>