<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./templates/head') %>
        <script defer type="module" src="js/404.js"></script>
    </head>

<body id="404">

    <main class="main-404">
        <section class="wrapper-main-404">
            <h1><%= data_404.title %></h1>
            <h5><%= data_404.subtitle %></h5>
            <a href="/">Redirection automatique dans <span id="span-value-time"></span>s</a>
        </section>
    </main>

</body>

</html>