<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./templates/head') %>
    </head>

<body id="404">

    <main class="main-404">
        <section class="wrapper-main-404">
            <h1><%= data_404.title %></h1>
            <h3><%= data_404.subtitle %></h3>
            <a href="/"><%= data_404.linkRedirection %></a>
        </section>
    </main>

</body>

</html>