<!DOCTYPE html>
<html lang="fr">

    <head>
    <%- include('./templates/head') %>
    </head>

<body id="404" style="overflow: hidden !important; background: white !important;">

    <main class="page-404">
        <image class="img-1" src="./img/robot-cute-white.jpg" />
        <image class="img-2" src="./img/robot-watch-white.jpg" />
        <div class="container">
            <div class="title">
                <div>4</div>
                <div>0</div>
                <div>4</div>
            </div>
            <div class="subtitle"><%= data_404.subtitle %></div>
            <a class="link-redirection" href="/"><%= data_404.linkRedirection %></a>
        </div>
    </main>

</body>

</html>