<!DOCTYPE html>
<html lang="fr">

    <%- include('./templates/head') %>

<body class="hide-scrollbar">

    <%- include('./templates/header') %>
    <%- include('./templates/main-menu') %>

    <main class="hide-scrollbar">

        <section>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
        </section>

    </main>

    <%- include('./templates/footer') %>

</body>

</html>