<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./templates/heads/head-about') %>
    </head>

<body id="about" class="hide-scrollbar">

    <%- include('./templates/header') %>
    <%- include('./templates/main-menu') %>

    <main class="main hide-scrollbar">

        <section class="section">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur delectus, amet nostrum?
        </section>

    </main>

    <%- include('./templates/footer') %>

</body>

</html>