<!DOCTYPE html>
<html lang="fr">

    <%- include('./templates/head') %>

<body>

    <%- include('./templates/header') %>
    <%- include('./templates/main-menu') %>

    <main></main>

    <%- include('./templates/footer') %>

</body>

</html>