<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./templates/heads/head-forgot-password') %>
    </head>

<body id="forgot-password" class="hide-scrollbar" style="height:100vh;">

    <main class="main-forgot-password">

        <form class="form" action="/forgot-password" method="POST">
            <div class="row-1">
                <a href="/" title="Accueil">
                    <img src="<%- data_site.logo_icon %>" alt="logo du site" />
                </a>
            </div>
            <div class="row-2">
                <h1><%= h1 %></h1>
            </div>
            <div class="row-3">
                <label for="email">Adresse mail</label>
                <input id="email" name="email" type="email" class="input" placeholder="Adresse mail du compte">
            </div>
            <div class="row-4">
                <button id="btn-send-mail" class="btn btn-primary" type="submit">Envoyer la demande</button>
            </div>
            <div class="row-5">
                <div>Retour à la page de <a class="link" href="/login">connexion</a></div>
            </div>
        </form>
        
    </main>
    
</body>

</html>