<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./templates/head') %>
        <script defer type="module" src="js/forgot-password.js"></script>
    </head>

<body id="forgot-password" class="hide-scrollbar" style="height:100vh;">

    <main class="main-forgot-password">

        <div class="grid-main-forgot-password">
            <div class="row-1">
                <a href="/" title="Accueil">
                    <img src="<%- data_site.logo_icon %>" alt="logo du site" />
                </a>
            </div>
            <div class="row-2">
                <h1><%= h1 %></h1>
            </div>
            <div class="row-3">
                <label for="mail">Adresse mail du compte</label>
                <input id="mail" type="mail" class="input" placeholder="Adresse mail">
            </div>
            <div class="row-4">
                <button class="btn btn-primary">Envoyer la demande</button>
            </div>
            <div class="row-5">
                <div>Retour à la page de <a class="link" href="/login">connexion</a></div>
            </div>
        </div>
        
    </main>
    
</body>

</html>