<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./templates/head') %>
        <script defer type="module" src="js/index.js"></script>
</head>

<body id="index" class="hide-scrollbar">

    <%- include('./templates/header') %>
    <%- include('./templates/main-menu') %>

            <main class="main">

                <section class="section">
                    <h1>Accueil</h1>
                </section>

                <section class="section">
                    <div>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                    </div>

                </section>

                <section id="faq" class="section">

                    <h2>Ensuite...</h2>
                    <div>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                    </div>

                </section>

            </main>

        <%- include('./templates/footer') %>

</body>

</html>