<!DOCTYPE html>
<html lang="fr">

<%- include('./templates/head') %>

    <body id="index" class="hide-scrollbar">

        <%- include('./templates/header') %>
            <%- include('./templates/main-menu') %>

                <main class="main">

                    <h1>Accueil</h1>

                    <section>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                    </section>

                    <h2>Ensuite...</h2>

                    <section>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                    </section>

                    <h2>Après...</h2>

                    <section>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                    </section>

                    <div id="faq" class="anchor"></div>

                    <h2>FAQ</h2>

                    <section>
                        <div></div>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ipsa sunt ab ipsam eum a
                        nesciunt dolor hic distinctio at adipisci neque laboriosam illo, quam nulla, aspernatur
                        delectus, amet nostrum?
                    </section>

                </main>

            <%- include('./templates/footer') %>

    </body>

</html>