<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../public/templates/heads/head-index') %>
    </head>

<body id="index" class="hide-scrollbar">

    <%- include('../public/templates/header') %>
    <%- include('../public/templates/main-menu') %>

        <main id="main" class="main"></main>

    <%- include('../public/templates/footer') %>

</body>

</html>