<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./templates/head') %>
        <script defer type="module" src="js/login.js"></script>
    </head>

<body id="login" class="hide-scrollbar" style="height:100vh;">

    <main class="main-login">

        <div class="grid-main-login">
            <div class="row-1">
                <img src="<%- data_site.logo_icon %>" alt="logo du site" />
            </div>
            <div class="row-2">
                <h1>Se connecter à <%- data_site.title %></h1>
            </div>
            <div class="row-3">
                <label for="identifier">Identifiant</label>
                <input id="identifier" type="text" class="input" placeholder="Identifiant ou mail">
            </div>
            <div class="row-4">
                <label for="password">Mot de passe</label>
                <input id="password" type="password" class="input" placeholder="Mot de passe">
            </div>
            <div class="row-5">
                <a class="link" href="">Mot de passe oublié ?</a>
            </div>
            <div class="row-6">
                <button class="btn btn-primary">Connexion</button>
            </div>
            <div class="row-7">
                <div>Nouveau sur <%- data_site.title %> ? <a class="link" href="/register">Créer un compte</a></div>
            </div>
        </div>
        
    </main>

</body>

</html>