<!DOCTYPE html>
<html lang="fr">

<%- include('./templates/head') %>

    <body class="hide-scrollbar">

        <main class="hide-scrollbar">
            <% if(isAuthentified == true) { %>
                <%- include('./templates/my-account-details') %>
            <% } else { %>
                <%- include('./templates/my-account-login-register') %>
            <% } %>
        </main>

    </body>

</html>