<!DOCTYPE html>
<html lang="fr">

    <head>
    <%- include('./templates/head') %>
    <script defer type="module" src="js/my-account.js"></script>
    </head>

    <body id="my-account" class="hide-scrollbar">

        <main class="main hide-scrollbar">
            <% if(isAuthentified == true) { %>
                <%- include('./templates/my-account-details') %>
            <% } else { %>
                <%- include('./templates/my-account-login-register') %>
            <% } %>
        </main>

    </body>

</html>