<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../public/templates/heads/head-profile') %>
    </head>

<body id="profile" class="hide-scrollbar" style="height:100vh;">

    <main class="main-profile">

        <form class="form" action="/profile" method="POST">
            <div class="row-1">
                <a href="/" title="Accueil">
                    <img src="<%- data_site.logo_icon %>" alt="logo du site" />
                </a>
            </div>
            <div class="row-2">
                <h1><%= h1 %></h1>
            </div>
            <div class="row-3">
                <label for="name">Votre identifiant</label>
                <input name="name" type="text" class="input" value="<%- userName %>">
            </div>
            <div class="row-4">
                <label for="email">Votre adresse email</label>
                <input name="email" type="email" class="input">
            </div>
            <div class="row-5">
                <label for="password">Votre mot de passe</label>
                <input name="password" type="password" class="input" title="Cliquez pour afficher le mot de passe">
            </div>
            <div class="row-6">
                <button class="btn btn-primary" type="submit">Appliquer les modifications</button>
            </div>
            <div class="row-7">
                <div>Revenir à la <a class="link" href="/">Page d'accueil</a></div>
            </div>
        </form>
        
    </main>
    
</body>

</html>