<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./templates/heads/head-register') %>
    </head>

<body id="register" class="hide-scrollbar" style="height:100vh;">

    <main class="main-register">

        <div class="grid-main-register">
            <div class="row-1">
                <a href="/" title="Accueil">
                    <img src="<%- data_site.logo_icon %>" alt="logo du site" />
                </a>
            </div>
            <div class="row-2">
                <h1><%= h1 %></h1>
            </div>
            <div class="row-3">
                <label for="identifier">Identifiant</label>
                <input id="identifier" type="text" class="input" placeholder="Identifiant">
            </div>
            <div class="row-4">
                <label for="mail">Adresse mail</label>
                <input id="mail" type="mail" class="input" placeholder="Adresse mail">
            </div>
            <div class="row-5">
                <label for="password">Mot de passe</label>
                <input id="password" type="password" class="input" placeholder="Mot de passe">
            </div>
            <div class="row-6">
                <label for="confirm">Confirmer le mot de passe</label>
                <input id="confirm" type="password" class="input" placeholder="Confirmer le mot de passe">
            </div>
            <div class="row-7">
                <button id="btn-register" class="btn btn-primary">Créer le compte</button>
            </div>
            <div class="row-8">
                <div>Déjà membre ? <a class="link" href="/login">Se connecter</a></div>
            </div>
        </div>
        
    </main>
    
</body>

</html>