<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../public/templates/heads/head-register-success') %>
    </head>

<body id="register-success" class="hide-scrollbar" style="height:100vh;">

    <main class="main-register-success">

        <h1>
            <%= h1 %><br>
            <span><%= h1Subtitle %></span>
        </h1>

        <a href="/login">Redirection vers la page de connexion dans <span id="span-value-time"></span>s</a>
        
    </main>
    
</body>

</html>