<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../public/templates/heads/head-register-success') %>
    </head>

<body id="register-success" class="hide-scrollbar" style="height:100vh;">

    <main class="main-register-success">

        <h1>
            <%= h1 %><br>
            <span><%= subtitle %></span>
        </h1>
        
    </main>
    
</body>

</html>