<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../public/templates/heads/head-spotify') %>
</head>

<body id="spotify" class="hide-scrollbar">

    <main class="main-spotify"></main>

</body>

</html>