<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../public/templates/heads/head-user-already-exist') %>
    </head>

<body id="user-already-exist" class="hide-scrollbar" style="height:100vh;">

    <main class="main-user-already-exist">

        <h1><%= h1 %></h1>
        
    </main>
    
</body>

</html>