@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
:root {
  --header-height: 80px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
select,
input[readonly] {
  outline: none;
}

textarea {
  resize: none;
}

button,
select {
  border: none;
  background: none;
  cursor: pointer;
}

button > *,
a > * {
  pointer-events: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

ul,
ol {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
  min-height: calc(100vh - var(--header-height));
}

body {
  opacity: 0;
  pointer-events: none;
  font-family: segoe ui;
  background: white;
  color: black;
  animation: body 3s forwards;
}

body.dark-mode {
  background: black;
  color: white !important;
}

body.dark-mode a,
body.dark-mode button,
body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
  color: white !important;
}

body.dark-mode .header-link:hover {
  border-bottom-color: white !important;
}

body.dark-mode .loader {
  background: black;
}

body.dark-mode .loader .dot {
  background: white;
}

body.dark-mode .main-menu .container {
  background: black;
}

body.dark-mode .main-menu .container .main-menu-header {
  border-bottom: 1px solid gray;
}

body.dark-mode .main-menu .container .main-menu-link {
  color: white;
}

body.dark-mode .modal .modal-header,
body.dark-mode .modal .modal-content,
body.dark-mode .modal .modal-footer {
  color: black !important;
}

@keyframes body {
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: var(--header-height);
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 0px) {
  .header {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (min-width: 576px) {
  .header {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (min-width: 768px) {
  .header {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (min-width: 992px) {
  .header {
    padding-right: 8%;
    padding-left: 8%;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (min-width: 1400px) {
  .header {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.header section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header section:nth-child(1) {
  flex: 10%;
  justify-content: start;
}

.header section:nth-child(2) {
  flex: 80%;
  justify-content: center;
}

@media (min-width: 0px) {
  .header section:nth-child(2) {
    display: none;
  }
}

@media (min-width: 576px) {
  .header section:nth-child(2) {
    display: none;
  }
}

@media (min-width: 768px) {
  .header section:nth-child(2) {
    display: flex;
  }
}

.header section:nth-child(3) {
  flex: 10%;
  justify-content: end;
}

.header section .header-link {
  font-size: clamp(16px, 4vw, 18px);
  font-weight: 400;
  padding: 4px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.header section .header-link::after {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 112%;
  content: "";
  display: block;
  background: dodgerblue;
  height: 3px;
  width: 0%;
  transition: 0.15s ease-in-out;
}

.header section .header-link:hover::after, .header section .header-link.active::after {
  width: 38%;
}

.header section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

@media (min-width: 768px) {
  .header section ul {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .header section ul {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .header section ul {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .header section ul {
    width: 30%;
  }
}

.header section ul li {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header section ul li:after {
  content: '|';
  font-weight: 300;
  color: gray;
}

.header section ul li:last-child:after {
  content: '';
}

.header section ul li div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-flex-center-fixed-xxl {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container-flex-center-absolute-xxl {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container-flex-center-relative-xxl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

h1 {
  font-size: clamp(38px, 8vw, 46px);
  font-weight: 500;
}

h2 {
  font-size: clamp(32px, 7vw, 36px);
  font-weight: 500;
}

h3 {
  font-size: clamp(26px, 6vw, 30px);
  font-weight: 500;
}

h4 {
  font-size: clamp(22px, 5vw, 24px);
  font-weight: 500;
}

h5 {
  font-size: clamp(16px, 4vw, 18px);
  font-weight: 500;
}

h6 {
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 500;
}

.link {
  border-bottom: 2px solid;
}

.link:hover {
  filter: brightness(90%);
}

.btn {
  padding: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  font-size: clamp(14px, 3vw, 16px);
  transition: 0.15s ease-in-out;
}

.btn:hover {
  filter: brightness(93%);
}

.btn.btn-primary {
  background: #63b1ff;
}

.btn.btn-secondary {
  background: #e6e6e6;
}

.btn.btn-cancel {
  background: black;
  color: #e6e6e6;
}

.btn.btn-accept {
  background: #42e88d;
}

.btn.btn-back {
  background: transparent;
}

.btn.btn-send {
  background: #63b1ff;
}

.btn.btn-alert {
  background: #ff7f7f;
}

.btn.btn-icon {
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-icon:hover {
  background: rgba(230, 230, 230, 0.25);
}

input,
textarea {
  border-radius: 3px;
  padding: 16px;
  border: 1px solid;
  border-color: #e6e6e6;
  font-size: clamp(14px, 3vw, 16px);
  color: black;
  transition: 0.15s ease-in-out;
}

input:read-only,
textarea:read-only {
  background: #e6e6e6;
  color: black;
  border: none;
}

input:hover,
textarea:hover {
  border-color: black;
}

input:focus-within,
textarea:focus-within {
  outline-color: gray;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 14px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #e6e6e6;
  transition: 0.15s ease-in-out;
}

.select select {
  padding: 16px;
  font-size: clamp(14px, 10vw, 16px);
  color: black;
  width: 100%;
  height: 100%;
  flex: 90%;
}

.select:hover {
  border-color: black;
}

.select:focus {
  border-color: gray;
}

/*
    <div class="select">
        <select name="" id="">
            <option value="val-1">Hello</option>
            <option value="val-2">World !</option>
        </select>
    </div>
*/
.loader {
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
}

.loader.global {
  position: fixed;
}

.loader.specific {
  position: absolute;
}

.loader .container {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .container .circle {
  position: relative;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  animation: circle 1s infinite linear;
}

.loader .container .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: black;
  width: 16px;
  height: 16px;
  animation: dot 3s infinite linear;
}

.loader .container .dot:nth-child(1) {
  top: 0%;
  left: 50%;
}

.loader .container .dot:nth-child(2) {
  top: 50%;
  left: 100%;
}

.loader .container .dot:nth-child(3) {
  top: 100%;
  left: 50%;
}

.loader .container .dot:nth-child(4) {
  top: 50%;
  left: 0%;
}

@keyframes circle {
  50% {
    width: 50%;
    height: 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dot {
  50% {
    border-radius: 0%;
    transform: translate(-50%, -50%) rotate(720deg);
  }
}

.modal {
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  animation: modal 0.6s forwards;
}

.modal.global {
  position: fixed;
}

.modal.specific {
  position: absolute;
}

.modal.active {
  display: flex;
}

.modal .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "modal-header" "modal-content" "modal-footer";
  padding: 30px;
  background: white;
  border: 2px solid #e6e6e6;
  border-radius: 16px;
  min-width: 50%;
  min-height: 50%;
  max-height: 70%;
  animation: modal-container 0.6s forwards;
}

@media (min-width: 0px) {
  .modal .container {
    max-width: 95%;
  }
}

@media (min-width: 576px) {
  .modal .container {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .modal .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .modal .container {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .modal .container {
    max-width: 60%;
  }
}

@media (min-width: 1400px) {
  .modal .container {
    max-width: 55%;
  }
}

.modal .container .modal-header {
  grid-area: modal-header;
  font-size: clamp(22px, 5vw, 24px);
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}

.modal .container .modal-content {
  position: relative;
  grid-area: modal-content;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.modal .container .modal-footer {
  grid-area: modal-footer;
  display: flex;
  justify-content: end;
  gap: 12px;
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-container {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.main-menu {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-wrap: nowrap;
  animation: main-menu 0.3s forwards;
}

.main-menu.active {
  display: flex;
}

.main-menu .container {
  position: relative;
  background: white;
  display: grid;
  flex: 25%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas: "main-menu-header" "main-menu-content" "main-menu-footer";
  padding: 30px;
  box-shadow: 2px 0px 5px -3px #737373;
}

@media (min-width: 0px) {
  .main-menu .container {
    min-width: 70%;
  }
}

@media (min-width: 576px) {
  .main-menu .container {
    min-width: 60%;
  }
}

@media (min-width: 768px) {
  .main-menu .container {
    min-width: 50%;
  }
}

@media (min-width: 992px) {
  .main-menu .container {
    min-width: 40%;
  }
}

@media (min-width: 1200px) {
  .main-menu .container {
    min-width: 30%;
  }
}

@media (min-width: 1400px) {
  .main-menu .container {
    min-width: 25%;
  }
}

.main-menu .container .main-menu-header {
  grid-area: main-menu-header;
  font-size: clamp(16px, 4vw, 18px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}

.main-menu .container .main-menu-content {
  position: relative;
  grid-area: main-menu-content;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-menu .container .main-menu-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-menu .container .main-menu-content ul li div {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-menu .container .main-menu-link {
  color: black;
  transition: 0.15s ease-in-out;
}

.main-menu .container .main-menu-link:hover {
  transform: translateX(6px);
}

.main-menu .container .main-menu-footer {
  grid-area: main-menu-footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu .container .main-menu-footer i {
  font-size: clamp(22px, 5vw, 24px);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.main-menu .container .main-menu-footer i:hover {
  filter: brightness(60%);
}

.main-menu .main-menu-outside {
  flex: 75%;
}

@keyframes main-menu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.page-404 img {
  position: fixed;
  left: -115px;
  bottom: -60px;
}

.page-404 .container {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
}

.page-404 .container .title {
  position: relative;
  font-family: 'Poiret One', cursive;
  font-weight: 500;
  font-size: clamp(72px, 20vw, 150px);
}

.page-404 .container .title span {
  position: relative;
  top: -100px;
  opacity: 0;
  animation: title-span 1s forwards;
}

.page-404 .container .title span:nth-child(1) {
  animation-delay: 0.33s;
}

.page-404 .container .title span:nth-child(2) {
  font-weight: 600;
  animation-delay: 0.66s;
}

.page-404 .container .title span:nth-child(3) {
  animation-delay: 1s;
}

@keyframes title-span {
  100% {
    top: 0px;
    opacity: 1;
  }
}

.page-404 .container .subtitle {
  font-family: 'Poiret One', cursive;
  font-size: clamp(22px, 5vw, 24px);
  font-weight: 600;
}

.page-404 .container a {
  font-size: clamp(14px, 3vw, 16px);
  border-radius: 30px;
  padding: 16px;
  background: black;
  min-width: 70%;
  text-align: center;
  margin-top: 50px;
  color: white;
  transition: 0.15s ease-in-out;
}

.page-404 .container a:hover {
  background: #292929;
}

.test {
  position: relative;
  border: 1px solid red;
  width: 250px;
  height: 250px;
}
