*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
select {
  outline: none;
}

textarea {
  resize: none;
}

input[readonly] {
  outline: none;
}

button,
select {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

ul,
ol {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 30px;
  padding-right: 20%;
  padding-left: 20%;
}

@media (max-width: 599px) {
  main {
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media (min-width: 600px) {
  main {
    padding-right: 8%;
    padding-left: 8%;
  }
}

@media (min-width: 900px) {
  main {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (min-width: 1200px) {
  main {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media (min-width: 1800px) {
  main {
    padding-right: 20%;
    padding-left: 20%;
  }
}

body {
  font-size: clamp(18px, 10vw, 20px);
  font-family: segoe ui;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-flex-center-fixed-xxl {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container-flex-center-absolute-xxl {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container-flex-center-relative-xxl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

h1 {
  font-size: clamp(38px, 10vw, 46px);
}

h2 {
  font-size: clamp(32px, 10vw, 36px);
}

h3 {
  font-size: clamp(26px, 10vw, 30px);
}

h4 {
  font-size: clamp(22px, 10vw, 24px);
}

h5 {
  font-size: clamp(18px, 10vw, 20px);
}

h6 {
  font-size: clamp(14px, 10vw, 16px);
}

a {
  border-bottom: 2px solid;
}

a:hover {
  filter: brightness(90%);
}

.btn {
  padding: 14px;
  border-radius: 3px;
  font-size: clamp(14px, 10vw, 16px);
}

.btn:hover {
  filter: brightness(93%);
}

.btn.btn-primary {
  background: #63b1ff;
}

.btn.btn-secondary {
  background: #e6e6e6;
}

.btn.btn-cancel {
  background: black;
  color: #e6e6e6;
}

.btn.btn-accept {
  background: #42e88d;
}

.btn.btn-back {
  background: transparent;
}

.btn.btn-send {
  background: #63b1ff;
}

.btn.btn-alert {
  background: #ff7f7f;
}

input,
textarea {
  border-radius: 3px;
  padding: 16px;
  border: 1px solid;
  border-color: #e6e6e6;
  font-size: clamp(14px, 10vw, 16px);
  color: black;
  transition: 0.15s ease-in-out;
}

input:read-only,
textarea:read-only {
  background: #e6e6e6;
  color: black;
  border: none;
}

input:hover,
textarea:hover {
  border-color: black;
}

input:focus-within,
textarea:focus-within {
  outline-color: #1f8fff;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 14px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #e6e6e6;
  transition: 0.15s ease-in-out;
}

.select select {
  padding: 16px;
  font-size: clamp(14px, 10vw, 16px);
  color: black;
  width: 100%;
  height: 100%;
  flex: 90%;
}

.select:hover {
  border-color: black;
}

.select:focus {
  border-color: #1f8fff;
}

/*
    <div class="select">
        <select name="" id="">
            <option value="val-1">Hello</option>
            <option value="val-2">World !</option>
        </select>
    </div>
*/
