*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
select {
  outline: none;
}

textarea {
  resize: none;
}

input[readonly] {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: clamp(18px, 10vw, 20px);
  font-family: segoe ui;
}

h1 {
  font-size: clamp(38px, 10vw, 46px);
}

h2 {
  font-size: clamp(32px, 10vw, 36px);
}

h3 {
  font-size: clamp(26px, 10vw, 30px);
}

h4 {
  font-size: clamp(22px, 10vw, 24px);
}

h5 {
  font-size: clamp(18px, 10vw, 20px);
}

h6 {
  font-size: clamp(14px, 10vw, 16px);
}

a {
  border-bottom: 2px solid;
}

input,
textarea {
  border-radius: 3px;
  padding: 16px;
  border: 1px solid;
  border-color: #e6e6e6;
  font-size: clamp(14px, 10vw, 16px);
}

input:read-only,
textarea:read-only {
  background: #e6e6e6;
  color: black;
}

input:focus-within,
textarea:focus-within {
  outline-color: dodgerblue;
}
