<!-- TEMPLATE - 404 -->

<main class="page-404">
    <image class="img-1" src="./img/robot-cute-white.jpg" />
    <image class="img-2" src="./img/robot-watch-white.jpg" />
    <div class="container">
        <div class="title">
            <div>4</div>
            <div>0</div>
            <div>4</div>
        </div>
        <div class="subtitle">Cette page n'existe pas !</div>
        <a href="/">Revenir en lieu sûr</a>
    </div>
</main>