<!-- TEMPLATE - 404 -->

<main class="page-404">
    <image src="./img/robot-cute-white.jpg"></image>
    <div class="container">
        <div class="title">
            <span>4</span>
            <span>0</span>
            <span>4</span>
        </div>
        <div class="subtitle">Cette page n'existe pas !</div>
        <a href="#">Revenir en lieu sûr</a>
    </div>
</main>