<!-- TEMPLATE - footer -->

<footer class="footer">
    <section>
        <div class="container-description">
            <h4>Titre du site</h4>
            <p>Description du site, qui contient beaucoup d'information que personne ne lit jamais.</p>
        </div>
    </section>
    <section>
        <div class="container-column">
            <div class="column">
                <h5>Menu 1</h5>
                <ul>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h5>Menu 2</h5>
                <ul>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h5>A Propos</h5>
                <ul>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h5>A Propos</h5>
                <ul>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                    <li>
                        <a href="#">lien vers qqchose</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>