<!-- TEMPLATE - head -->

<%- include('metadata') %>

    <title>
        <%= title %>
    </title>

<%- include('cdn') %>

<!-- init -->
<link rel="stylesheet" href="css/main.css" />
<script type="module" src="js/_init.js"></script>