<!-- TEMPLATE - head -->

<head>
    
    <%- include('metadata') %>

    <title>
        <%= title %>
    </title>

    <%- include('cdn') %>

    <!-- main -->
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/_init.js"></script>
    <script defer type="module" src="js/main.js"></script>

</head>