<!-- TEMPLATE - my-account-register -->

<div class="my-account login-register">
    <section style="display: none;">
        <div class="column">
            <h3>Se connecter</h3>
            <input type="text" placeholder="Adresse mail*">
            <input type="text" placeholder="Mot de passe*">
            <button class="btn btn-primary" title="Se connecter">
                Connexion
            </button>
        </div>
    </section>
    <section>
        <div class="column">
            <h3>Créer un compte</h3>
            <input type="text" placeholder="Adresse mail*">
            <input type="text" placeholder="Mot de passe*">
            <input type="text" placeholder="Confirmer*">
            <button class="btn btn-primary" title="Créer le compte">
                Créer le compte
            </button>
        </div>
    </section>
</div>