<!-- TEMPLATE - my-account-details -->

<div class="my-account details">
    <div>Mon Compte</div>
    <input type="text" placeholder="Identifiant">
    <input type="text" placeholder="@ mail">
    <input type="text" placeholder="mot de passe">
    <input type="text" placeholder="date de création">
    <button>Déconnexion</button>
    <button>Supprimer le compte</button>
</div>