<!-- TEMPLATE - social-bar -->

<div class="social-bar">
    <ul>
        <li>
            <a href="facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="twitter">
                <i class='fa-brands fa-twitter'></i>
            </a>
        </li>
        <li>
            <a href="instagram">
                <i class='fa-brands fa-instagram'></i>
            </a>
        </li>
        <li>
            <a href="mail">
                <i class='fa-solid fa-at'></i>
            </a>
        </li>
    </ul>
</div>