<!-- TEMPLATE - social-bar -->

<div class="social-bar">
    <ul>
        <% data_socialBar.forEach((elem)=> { %>
            <li>
                <a class="social-bar-link" title="<%= elem.title %>" href="<%= elem.href %>"
                    target="<%= elem.target %>">
                    <%- elem.text %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>