<!-- TEMPLATE - social-bar -->

<div class="social-bar">
    <ul>
        <% data_social.links.forEach((elem)=> { %>
            <li>
                <a class="link" title="<%= elem.title %>" href="<%= elem.href %>"
                    target="<%= elem.target %>">
                    <%- elem.text %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>